<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Empleados con salario mayor a ...</h1>
    <form method="post">
        {%csrf_token%}
        Dame el salario
         <input type="number" name="salariodado"><br/>
        <button>Buscar empleados</button>
    </form>
    <table boder="1">
        {%for emp in empleados%}
            <tr>
                <td>{{emp.idEmpleado}}</td>
                <td>{{emp.apellido}}</td>
                <td>{{emp.oficio}}</td>
                <td>{{emp.salario}}</td>
            </tr>
        {%endfor%}
    </table>  
</body>
</html>