<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Colores GET</h1>
    <hr>
    <a href="http://127.0.0.1:8000/mascotas/colores?micolor=blue">Azul</a><br>
    <a href="http://127.0.0.1:8000/mascotas/colores?micolor=green">Verde</a><br>
    <a href="http://127.0.0.1:8000/mascotas/colores?micolor=red">Rojo</a><br>
    <a href="http://127.0.0.1:8000/mascotas/colores">Sin Color</a><br>
    <hr>
    <h2> El color recibido es {{color}}</h2>
</body>
</html>