<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Verifica si el numero es par o impars!!</h1>
    <a href="/">Volver a index</a>
    <form method="post">
        {% csrf_token %}
        Introduzca su número: <input type="number" name="cajanum1"/><br>
        <button>Verificar</button>
    </form>
    {%if verific%}
    <h2>
        El numero es {{numero}} .... {{verific}}
    </h2>
    {%endif%}
</body>
</html>