<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:cadetblue;
        }
        img{
            width: 300px;
            height: 250px;
        }
    </style>
</head>
<body>
    esto es texto, no se rompe
    <h1>Mi plantilla django h1</h1>
    <a href="https://marca.com">navegar a MARCA...</a>"
    por que no hay espacio, por que br es un enter <br>
    <a href="prueba">Ir a Prueba</a>
    <h2>otro sibtitulo h2</h2>
    <img src="https://objetos-xlk.estaticos-marca.com/files/article_1320_widen_webp/uploads/2026/02/17/69947032106d7.webp">
    <h3>templete con dibujos h3</h3>
    <a href="imagenes">Ir a Imagenes</a>
    <h4>otro subtitulo</h4>
    <a href="futbol">Ir a Fubol</a><br>
    <a href="nombres">Ir a nombres</a>
    
</body>
</html>